{% extends "guest/base.html" %}

{% block title %}登录 - Uma League{% endblock %}

{% block content %}
<h2 class="text-center mb-4">登录</h2>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="username" class="form-label">用户名</label>
        <input name="username" id="username" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">密码</label>
        <input name="password" id="password" type="password" class="form-control" required>
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-primary">登录</button>
    </div>
</form>
{% endblock %}